body {
    margin: 0;
    background-color: #00bcd452;
}

.header {
    text-align: center;
    background: #00BCD4;
}

.root {
    padding-left: 2%;
    padding-right: 2%;
    font-size: 12px;
}