div.container4 {
    height: 10em;
    position: relative
}

div.container4 p {
    margin: 0;
    background: white;
    position: absolute;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}