body {
    margin: 0;
    background-color: #ffffff;
}

.footer {
    position: fixed;
    bottom: 0;
    background: #00BCD4;
    width: 100%;
}

.header {
    text-align: center;
    background: #00BCD4;
}